body {
  background-color: #f0e8bf;
}

.jumbotron {
  background-color: #E62;
  /* background-color: #eadb84; */
  /* border: 30px solid red; */
  /* border-radius: 40px; */
}

@font-face {
  font-family: Albas;
  src: url("../fonts/albas___.ttf");
}

#title {
  font-family: Albas;
  /* color: #eadb84; */
  /* color: rgb(192, 98, 11); */
  margin-bottom: 20px;
  color: rgb(248, 240, 229);
  font-size: 60px;

}

.form-group {
  color:  black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.zdog-canvas {
  background:rgb(68, 33, 4);
  cursor: move;
  border-radius:120px;

}

.trash-icon, .eat-icon {
  color:  rgba(204, 34, 85, 0.5);
  margin: 3px 3px -5px 3px;
}



.heading {
  font-family: Albas;
  font-size: 30px;
  color: #E62;
  
}



.eat-icon, .trash-icon {
  height: 30px;
  width: auto;
}

.eat-form, .delete-form {
  font-size: 20px;
}

.col-md-4 {
  
  
  
 
  
  
} 

.container {
  position: relative;
  min-height: 100vh;
}

