body {
  background-color: #f0e8bf;
}

.jumbotron {
  background-color: #E62;
  border-top: 40px solid #80401252;
  border-bottom: 40px solid rgba(238, 167, 34, 0.30);
  padding: 0px 0px;
  box-shadow: 0px 8px 9px rgba(68, 33, 4, 0.20);
  
  
  /* background-color: #eadb84; */
  /* border: 30px solid red; */
  /* border-radius: 40px; */
}

@font-face {
  font-family: Albas;
  src: url("../fonts/albas___.ttf");
}

@font-face {
  font-family: Albam;
  src: url("../fonts/ALBAM___.TTF");
}

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Bold.ttf");
}

#title {
  /* font-family: Albas; */
  font-family: Albam;
  -webkit-text-stroke: white 2px;
  color: #9c4e15;

  /* color: #eadb84; */
  /* color: rgb(192, 98, 11); */
  margin-bottom: 10px;
  /* color: rgb(248, 240, 229);*/
  /* color: white; */
  font-size: 60px;
  /* text-shadow: 0px 8px 12px rgba(68, 33, 4, 0.30); */
  text-shadow: 0px 9px 0px rgb(163, 72, 26, 0.6);
}

.box {
  background-color: white;
  border-radius: 20px;
  /* border: 3px solid #E62; */
  margin: 10px 0px;
  box-shadow: 0px 8px 9px rgba(68, 33, 4, 0.20);
  padding: 5px 0px;
}

#newBurger {
  background-color: #f0e8bf;
  height: 40px;
  border-radius: 8px;
  margin: 15px 5px -10px 0px;
  border-style: none;
  
}








.form-group {
  color:  #804012;
  font-family: Comfortaa;
  line-height: 3px;
  
  
  /* font-family: Albam; */
  
}

.btn-outline-secondary {
  background-color: #E62;
  color: white; 
  height: 40px;
  margin-bottom: 1px;
  border-radius: 8px;
  line-height: 12px;
  padding: 6px 12px 6px 12px;
  -webkit-text-stroke: none !important;
}

.zdog-canvas {
  background: #804012;
  cursor: move;
  border-radius:130px;
  margin: 10px 0px;
  border: 9px solid white;
  box-shadow: 0px 9px 12px rgba(68, 33, 4, 0.30);

}

.trash-icon, .eat-icon {
  color:  rgba(204, 34, 85, 0.5);
  margin: 3px 3px -5px 3px;
}



.heading {
  font-family: Albam;
  font-size: 35px;
  color: #E62;
  letter-spacing: 1px;
  text-shadow: 0px 4px 1px rgba(68, 33, 4, 0.20);
  
}

.eat-icon, .trash-icon {
  height: 30px;
  width: auto;
}

.eat-form, .delete-form {
  font-size: 20px;
}



.container {
  position: relative;
  min-height: 100vh;
}
#footer {
  background-color: #804012;
  height: 70px;
  text-align: center;
  font-family: Comfortaa;
  font-size: 15px;
  line-height: 40px;
  padding-top: 10px;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}


